<%- include('../partials/header') %>

<div class='container'>
    <div>
        <h1 style='text-align: center'>Edit comment</h1>

        <div class='text-center' style='width: 80%; margin: 25px auto;'>
            <form action='/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT' method='POST'>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="comment[text]" value='<%= comment.text %>'>
                    </div>
                </div>
                <button class='col-sm-6 btn btn-lg btn-primary margin-auto'>Update</button>
            </form>
            <a href='/campgrounds/<%= campground_id %>'>Go back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>