<%- include('../partials/header') %>

<div class='container'>
    <div>
        <h1 style='text-align: center'>Add a new Comment to <%= campground.name %></h1>

        <div class='text-center' style='width: 80%; margin: 25px auto;'>
            <form action='/campgrounds/<%= campground._id %>/comments' method='POST'>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="comment[text]" placeholder='text'>
                    </div>
                </div>
                <button class='col-sm-6 btn btn-lg btn-primary margin-auto'>Submit</button>
            </form>
            <a href='/campgrounds/<%= campground._id %>'>Go back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>